html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: gainsboro;
    margin: 0%;
    font-family: 'Montserrat Alternates', sans-serif;
}

.conteiner {
    width: 1200px;
    height: 800px;
    margin: 50px;
    background: white;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5%;
    background: rgb(184, 0, 0);
}
.header-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    user-select: none;
}
.header-box-2 h1::first-letter {
    color: rgb(184, 0, 0);
}
.header-box-1,.header-box-2,.header-box-3 {
    width: 30%;
    height: 60%;
    background: white;
}
.header-box-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-box-3 form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.button-logout {
    width: 50%;
    height: 100%;
    background: white;
    margin: 12px;
    outline: none;
    padding: 0%;
    user-select: none;
    font-size: 1.1rem;
    border: none;
    font-family: 'Montserrat Alternates', sans-serif;
}
.button-logout:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: red;
}
.button-logout:active {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    color: black;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
    background: white;
}
.content-box-2 {
    width: 40%;
    height: 90%;
    background: white;
}
.content-box-1 {
    width: 40%;
    height: 90%;
    background: white;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 90%;
    border: 1px solid black;
}
.teg {
    width: 95%;
    height: 10%;
    margin: 0;
    padding: 0px;
    border: 0;
    resize: none;
    outline: none;
    background: white;
    border: 1px solid black;
    overflow: hidden;
    font-size: 1.5rem;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}
.general {
    width: 95%;
    height: 80%;
    margin: 0;
    padding: 0px;
    border: 0;
    resize: none;
    outline: none;
    background: white;
    font-size: 1.2rem;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow-x: hidden;
}
.general::-webkit-scrollbar {
    width: 10px;
    border: 1px solid black;
}
.general::-webkit-scrollbar-button {
    border: 1px solid black;
}
.general::-webkit-scrollbar-thumb {
    border: 1px solid black;
    background: rgb(184, 0, 0); ;
}
.text textarea:focus::-webkit-input-placeholder {
    color:transparent;
}
.push {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}
.button-1, .button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60%;
    background: white;
    margin: 12px;
    outline: none;
    padding: 0%;
    user-select: none;
    font-size: 1.2rem;
    border: 1px solid black;
    font-family: 'Montserrat Alternates', sans-serif;
}
.button-1:hover, .button-2 a:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: red;
}
.button-1:active, .button-2 a:active {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    color: black;
}

.text, .push {
    width: 100%;
    height: 50%;
    background: white;
}
.notes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
}
.note-main {
    overflow-y: auto;
    width: 95%;
    height: 90%;
    border: 1px solid black;
}
.note-main p {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}
.note-main-box-text p {
    text-align: left;
    margin: 0;
}
.note-main-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 6px auto;
    width: 95%;
    height: 95%;
    border: 1px solid black;
    user-select: none;
}
.note-main-box-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 10%;
    font-size: 1.2rem;
    word-break:break-all;
    margin-top: 5px;
}
.note-main-box-text {
    width: 95%;
    height: 75%;
    word-break:break-all;
    overflow-y: auto;
}
.note-main-box-text::-webkit-scrollbar {
    width: 10px;
    border: 1px solid black;
}
.note-main-box-text::-webkit-scrollbar-button {
    border: 1px solid black;
}
.note-main-box-text::-webkit-scrollbar-thumb {
    border: 1px solid black;
    background: rgb(184, 0, 0); ;
}
.note-main-box-authorName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 10%;
    font-size: 1.2rem;
    word-break:break-all;
    margin-top: 5px;
}
.note-main::-webkit-scrollbar {
    width: 10px;
    border: 1px solid black;
}
.note-main::-webkit-scrollbar-button {
    border: 1px solid black;
}
.note-main::-webkit-scrollbar-thumb {
    border: 1px solid black;
    background: rgb(184, 0, 0); ;
}
.note-hadding {
    width: 95%;
    height: 90%;
    border: 1px solid black;
    overflow-y: auto ;
}
.note-handing-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 95%;
    height: 10%;
    border: 1px solid black;
    user-select: none;
    font-size: 1.2rem;
    font-family: 'Montserrat Alternates', sans-serif;
    word-break:break-all;
}
.note-handing-box a {
    text-decoration: none;
    color: black;
}
.note-handing-box:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: red;
}
.note-handing-box:active {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    color: black;
}
.note-handing-box p {
    margin: 0;
}
.note-hadding::-webkit-scrollbar {
    width: 10px;
    border: 1px solid black;
}
.note-hadding::-webkit-scrollbar-button {
    border: 1px solid black;
}
.note-hadding::-webkit-scrollbar-thumb {
    border: 1px solid black;
    background: rgb(184, 0, 0); ;
}
footer {
    width: 100%;
    height: 5%;
    background: rgb(184, 0, 0);
}