html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: gainsboro;
    margin: 0%;
    font-family: 'Montserrat Alternates', sans-serif;
}

.conteiner {
    width: 1200px;
    height: 800px;
    margin: 50px;
    background: white;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5%;
    background: rgb(184, 0, 0);
}
.header-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    user-select: none;
}
.header-box-2 h1::first-letter {
    color: rgb(184, 0, 0);
}
.header-box-1,.header-box-2,.header-box-3 {
    width: 30%;
    height: 60%;
    background: white;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
    background: white;
}
.content-box-2 {
    width: 40%;
    height: 90%;
    background: white;
}
main form {
    width: 40%;
    height: 90%;
    background: white;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 90%;
    border: 1px solid black;
}
.teg {
    width: 95%;
    height: 10%;
    margin: 0;
    padding: 0px;
    border: 0;
    resize: none;
    outline: none;
    background: white;
    border: 1px solid black;
    overflow: hidden;
    font-size: 1.5rem;
    font-family: 'Montserrat Alternates', sans-serif;  
    text-align: center;
}
.general {
    width: 95%;
    height: 80%;
    margin: 0;
    padding: 0px;
    border: 0;
    resize: none;
    outline: none;
    background: white;
    font-size: 1.2rem;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow-x: hidden;
}
.general::-webkit-scrollbar {
    width: 10px;
    border: 1px solid black;
}
.general::-webkit-scrollbar-button {
    border: 1px solid black;
}
.general::-webkit-scrollbar-thumb {
    border: 1px solid black;
    background: rgb(184, 0, 0); ;
}
.text textarea:focus::-webkit-input-placeholder {
    color:transparent; 
}
.push {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-1, .button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60%;
    background: white;
    margin: 12px;
    outline: none;
    padding: 0%;
    user-select: none;
    font-size: 1.2rem;
    border: 1px solid black;
    font-family: 'Montserrat Alternates', sans-serif;
}
.button-1:hover, .button-2:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: red;
}
.button-1:active, .button-2:active {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    color: black;
}

.text, .push {
    width: 100%;
    height: 50%;
    background: white;
}
.notes {
    /*display: flex;*/
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
    overflow: auto;

}
.notes div{
    width: 95%;
    height: 90%;
    border: 1px solid black;
}
footer {
    width: 100%;
    height: 5%;
    background: rgb(184, 0, 0);
}