<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="conteiner">
        <div class="box-1">
            <h1>Логин</h1>
        </div>
        <div class="box-2">
            <form action="">
                <input type="text" placeholder="Введите имя" name="">
                <input type="password" placeholder="Введите пароль" name="">
                <button>
                    <p>Отправить</p>
                </button>
                <h1>Red Notes</h1>
            </form>
        </div>
    </div>
</body>
</html>