<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/notes.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/material/js/main.js"></script>
    <title>Notes</title>
</head>
<body>
    <div class="conteiner">
        <header>
            <div class="header-box-1"></div>
            <div class="header-box-2">
                <h1>Red Notes</h1>
            </div>
            <div class="header-box-3"></div>
        </header>
        <main>
            <div class="content-box-1">
                <div class="text">
                    <div>
                        <textarea class="teg" placeholder="Введите заголовок" spellcheck="true" name=""></textarea>
                        <textarea class="general" placeholder="Заметка..." spellcheck="true" name="" id=""></textarea>
                    </div>
                </div>
                <div class="push">
                    <button class="button-1">
                        <p>Сохранить</p>
                    </button>
                    <button class="button-2">
                        <p>Все заметки</p>
                    </button>
                </div>
            </div>
            <div class="content-box-2">
                <div class="notes">
                    <div></div>
                </div>
                <div class="notes">
                    <div></div>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>
