<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/notes.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <title>Notes</title>
</head>
<body>
<div class="conteiner">
    <header>
        <div class="header-box-1"></div>
        <div class="header-box-2">
            <h1>Red Notes</h1>
        </div>
        <div class="header-box-3">
            <form th:action="@{/logout}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="submit" value="Выйти" class="button-logout"/>
            </form>
        </div>
    </header>
    <main>
        <form th:action="@{/rednotes/notes}" class="content-box-1" method="post">
            <div class="text">
                <div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <textarea required class="teg" placeholder="Введите заголовок" spellcheck="true" name="heading"></textarea>
                    <textarea required class="general" placeholder="Заметка..." spellcheck="true" name="text"></textarea>
                </div>
            </div>
            <div class="push">
                <button class="button-1" type="submit">
                    <p>Сохранить</p>
                </button>
                <button class="button-2">
                    <a href="#">Все заметки</a>
                </button>
            </div>
        </form>
        <div class="content-box-2">
            <div class="notes">
                <div class="note-main">
                    <div th:each="el: ${notes}" class="note-main-box">
                        <div th:text="${el.heading}" class="note-main-box-heading">
                            <p>Тег</p>
                        </div>
                        <div th:text="${el.text}" class="note-main-box-text">
                            <p>Заметка...</p>
                        </div>
                        <div th:text="${el.authorName}" class="note-main-box-authorName">
                            <p>Автор</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notes">
                <div class="note-hadding">
                    <div th:each="el : ${notes}" class="note-handing-box">
                        <a th:text="${el.heading}" th:href="@{'/rednotes'+ '/notes/'+${el.getId()}}">Тег...</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</div>
</body>
</html>