<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/notes.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/material/js/main.js"></script>
    <title>Notes</title>
</head>
<body>
    <div class="conteiner">
        <header>
            <div class="header-box-1"></div>
            <div class="header-box-2">
                <h1>Red Notes</h1>
            </div>
            <div class="header-box-3">
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="submit" value="Sign Out"/>
                </form>
            </div>
        </header>
        <main>
            <form action="" class="content-box-1">
                <div class="text">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <textarea class="teg" placeholder="Введите заголовок" spellcheck="true" name="heading"></textarea>
                    <textarea class="general" placeholder="Заметка..." spellcheck="true" name="text"></textarea>
                </div>

                <div class="push">
                    <button class="button-1" type="submit">
                        <p>Сохранить</p>
                    </button>
                    <button class="button-2">
                        <p>Все заметки</p>
                    </button>
                </div>
            </form>
            <div class="content-box-2">
                <div class="notes">
                    <div th:each="el: ${notes}">
                        <h3 th:text="${el.heading}"></h3>
                        <h3 th:text="${el.text}"></h3>
                        <h3>Автор этого шедевра</h3>
                        <h3 th:text="${el.authorName}"></h3>
                    </div>
                </div>
                <div class="notes">
                    <div th:each="el : ${notes}">
                        <h3 th:text="${el.heading}"></h3>
                    </div>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>
